<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<button><%= link_to "Songs", songs_path %></button>
<button><%= link_to "Create new song", new_song_path %></button>
<%= yield %>

</body>
</html>
